.job-dropbtn,
.questions-dropbtn {
	background: #aaaaaa;
  color: #fff;
	font-size: 16px;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 12px 8px;
	margin-bottom: 5px;
	text-align: left;
}

.questions-dropdown {
}

.questions-dropdown li:first-child {
	border-bottom: 1px solid #ccc;
}

.job-dropbtn {
	background: #4caf50;
}

.job-survey-names,
.questions-names {
	border-box: box-sizing;
	background-image: url('../images/searchicon.png');
	background-position: 14px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 14px 20px 12px 45px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.fa-caret-down {
	margin-left: 3px;
}

.dropdown-content {
	display: none;
	background-color: #f6f6f6;
	min-width: 230px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding-left: 0;
	list-style: none;
	width: 100%;
}

.dropdown-content a {
	background-color: #4caf50;
	color: #fff;
	padding: 16px;
	text-decoration: none;
	margin-bottom: 2px;
	width: 49%;
	display: inline-block;
	font-size: 16px;
}

.dropdown-content a.inner-question-link {
	width: 100%;
	background: #fff;
  color: #000;
}

.dropdown a:hover {
	background-color: #4caf50;
	color: #fff;
}

.show {
	display:block;
}

.sweet-alert {
	z-index: 2147483647;
}

.panel-title>a {
	color: #fff !important;
}

.survey_list_wrapper a {
	text-align: center;
	background: #5cb85c;
	padding:12px 0;
	color: #fff;
	display: block;
	font-size:16px;
}

.m-l-10 {
	margin-left: 10px;
}

.question-name-div {
	background: grey;
	padding: 10px 0px 10px 10px;
	margin-bottom: 5px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

#select-survey-modal .modal-header h4 span {
	font-weight: 700;
}

.job-surveys-list-item {
	background: gray;
	color: #fff;
	padding: 7px 10px;
	font-size: 16px;
	cursor: pointer;
	margin-bottom: 5px;
}

.job-surveys-list-item:last-child {
	margin-bottom: 0;
}

.job-surveys-list-item.selected {
	background: #449d44;
}

.survey_list_wrapper .row {
	margin: 5px 0;
}

.custom-panel .panel-title a.job-surveys-list {
	float: right;
}

.custom-panel .panel-title a.job-questions-list {
	float: right;
}

@media (max-width: 767px) {
	.custom-panel .title-text {
		margin-bottom: 10px;
		width: 100%;
	}

	.custom-panel .panel-title a.job-surveys-list,
	.custom-panel .panel-title a.job-questions-list {
		padding: 6px;
		float: left;
	}

	.custom-panel .panel-title a.job-surveys-list {
		margin: 0 5px 0 0;
	}
}