.piluku-preloader {
	z-index: 2147483647;
}

#new-opt-btn span:before {
	font-family: FontAwesome;
	content: "\f0fe";
	margin-right: 10px;
}

#opt-table, #deleted-opt-table {
	text-align: center;
}

#opt-table thead, #deleted-opt-table thead {
	background: #a9a9a9;
}

#opt-table th, #deleted-opt-table th {
	text-align: center;
	color: #000 !important;
}

#opt-table td, #deleted-opt-table td {
	color: #000;
}

#new-opt-div {
	border: 1px solid #d9d9d9;
	padding: 0 30px 20px;
	box-shadow: 0px 0px 1px 1px #d9d9d9;
}

#new-opt-close {
	float: right;
	cursor: pointer;
	font-size: 0.8em;
}

#show-deleted-options span {
	font-size: 16px;
	text-transform: uppercase;
}

/*--- generic ---*/
.fa {
	cursor: pointer;
}

.fa-reply,
.fa-trash {
	padding: 9px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ddd;
}

.bdr-red {
	border-color: #f00;
}

.p-t-10 {
	padding-top: 10px;
}

/*--- overrides ---*/
.row {
	padding-top: 10px;
}